<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @calibrator do |f| %>
      
      <div class="form_group"></div>
        <%= f.label :calibrator %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <div class="form_group"></div>
        <%= f.label :lot %>
        <%= f.text_field :lot, class: 'form-control' %>
        
        <br/>
      <div class="form_group">
        <%= f.label :expiration %>
        <%= f.date_select :expiration, class: 'form-control' %>
      </div>
      <br/>
    
      <div class="form_group">
        <%= f.label :box %>
        <%= f.text_field :box, class: 'form-control' %>
      </div>
      
        <br/>
      <%= f.submit 'Submit', class: 'btn btn-success' %>  
      
      <% end %>
    </div>
  </div>
</div>
