<h1 class="text-center">Reagents Inventory</h1>
<hr/>



    <div class="row">
      
      <div class="col-md-8 col-md-offset-2">
        <div>
          
          <table class="table table-striped apple">
            <tr class = "success">
              <th>Reagent</th>
              <th>Lot</th>
              <th>Flex</th>
              <th>Updated</th>
              <th class = "text-center">Action</th>
              
            </tr>
            
            <% @reagents.each do |reagent| %>
            <tr>
              <td><%= link_to reagent.reagent_name, reagent_path(reagent) %></td>
              <td><%= reagent.lot %></td>
              <td><%= reagent.flex %></td>
              <td><%= time_ago_in_words(reagent.updated_at) %></td>
              <td class = "text-center"><%= link_to 'update', edit_reagent_path(reagent) %> </td>
            </tr>
                <!--<button type="button" class="btn btn-primary btn-block">-->
                <!--  <%= reagent.reagent_name %> -->
                <!--  <small><%= time_ago_in_words(reagent.updated_at) %></small> -->
                <!--  <span class="badge"><%= reagent.flex %></span>-->
                <!--</button>-->
              
              <% end %>
            
          </table>
          
        </div>
      </div>
      
    
      
    </div>

